$body-font-stack: Roboto, sans-serif;
$header-font-stack: Roboto Slab, serif;

$growling-gray-light: #e6e7e8;
$text-highlight-color: #e0e0e0;
$dimmed-text-color: #6a737b;
$course-index-text-color: #495057;
$header-gray: #1d1c1d;
$text-color: #1d2125;
$roarange: #f47920;
$link-color: #b82b00;
$link-hover-color: #701a00;
$button-color: #d4441c;
$button-hover-color: #b53917;

$border-radius: 4px;

// Page width overrides
#page-mod-forum-view,
#page-mod-feedback-analysis_course
{
  #page.drawers .main-inner {
    max-width: 830px;
  }
}

.navbar,
#searchform-navbar {
  background-image: url([[pix:theme|bengal-header]]);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  background-color: $header-gray !important;
}

.navbar-nav {
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: $text-highlight-color;
    color: black;
  }
  .nav-link,
  .dropdown-toggle::after,
  .usertext,
  label {
    color: white !important;
  }
  .dropdown-menu {
    .dropdown-toggle::after {
      color: black !important;
    }
  }
  .login {
    a {
      color: white !important;
      &:hover {
        color: white !important;
        text-decoration: none;
      }
      &:focus {
        background-color: transparent;
        box-shadow: 0 0 0 0.2rem $roarange;
      }
    }
  }
}

// User tour styling for navbar
.navbar [data-flexitour="step-background"] {
  background-color: black !important;
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    display:flex !important;
    margin-left: 1.5rem !important;
    margin-right: 0 !important;
  }
}

@include media-breakpoint-down(xs) {
  .navbar-brand {
    display:none !important;
  }
}

.navbar-nav .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $roarange !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $button-color;
}

.navbar-toggler {
  background-color: white;
}

.moremenu {
  .dropdown-item[aria-current="true"]:focus-within,
  .dropdown-item[aria-current="true"]:hover,
  .dropdown-item.active:focus-within,
  .dropdown-item.active:hover {
    background-color: $text-highlight-color;
    border-color: $text-highlight-color;
    color: black;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active:hover,
  .nav-link.active:focus {
    background-color: transparent;
  }
}

.list-group-item.active {
  background-color: $text-highlight-color;
  border-color: $text-highlight-color;
  color: $text-color;
}

.message-app {
  .btn-link:hover {
    color: $text-color;
  }
  .fa-star {
    color: $button-color;
  }
  .list-group .list-group-item:hover {
    background-color: $text-highlight-color;
    color: $text-color;
  }
  .message {
    overflow-wrap: break-word;
  }
}

body {
  font-family: $body-font-stack;
}

body #page,
#page-my-index {
  background-color: $growling-gray-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
  font-weight: 700;
}

a,
.btn-link {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

:focus-visible {
  outline: $roarange auto 1px;
}

.aalink.focus,
.aalink:focus,
#page-footer a:not([class]).focus,
#page-footer a:not([class]):focus,
.arrow_link.focus,
.arrow_link:focus,
a:not([class]).focus,
a:not([class]):focus,
.activityinstance > a.focus,
.activityinstance > a:focus {
  color: $link-hover-color;
}

.page-item {
  .page-link {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
  &.active .page-link {
    background-color: $button-color;
    border-color: transparent;
    &:hover {
      color: white;
    }
  }
}

.btn {
  transition: none;
}

.btn-primary {
  background-color: $button-color;
  border-color: transparent;
  &.disabled,
  &:disabled {
    background-color: $button-color;
    border-color: transparent;
  }
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      background-color: $button-hover-color;
    }
  }
}

.show > .btn-primary.dropdown-toggle {
  background-color: $button-hover-color;
}

.btn-outline-primary {
  border-color: $button-color;
  color: $button-color;
  &:hover {
    background-color: $button-color;
    border-color: $button-color;
    color: white;
  }
  &.disabled,
  &:disabled {
    background-color: transparent;
    border-color: $dimmed-text-color;
    color: $dimmed-text-color;
  }
}

.badge-primary,
.bg-primary {
  background-color: $button-color !important;
}
.message-app .list-group .list-group-item:hover .badge-primary {
  background-color: $button-color !important;
  color: white !important;
}

.sectionbadges .badge-pill {
  line-height: 1.5;
}

.content-item-container {
  &:hover,
  &.unread:hover {
    color: black;
    background-color: $text-highlight-color;
    a.view-more {
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
    .content-item-footer .timestamp {
      color: $text-color;
    }
  }
}

.dropdown-item {
  &.active,
  &:active,
  &:hover,
  &:focus,
  &:focus-within {
    a {
      color: black;
      text-decoration: none;
    }
    color: black;
    background-color: $text-highlight-color;
  }
}

.moremenu .dropdownmoremenu > .dropdown-menu .dropdown-menu .dropdown-item {
  &:hover,
  &:focus {
    color: black;
    background-color: $text-highlight-color;
  }
}

.form-autocomplete-suggestions li {
  &:hover,
  &:focus,
  &[aria-selected="true"] {
    background-color: $text-highlight-color;
    color: $text-color;
  }
  &[aria-selected="true"] {
    box-shadow: 0 0 0 0.2rem $text-highlight-color;
  }
}

.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    background-color: $text-highlight-color;
    color: black;
  }
}

.block-add {
  color: $link-color;
  i {
    color: $button-color;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    i {
      color: $button-hover-color;
    }
  }
}

// Activity description spacing
.description .course-description-item {
  background-color: white;
  padding-left: .75rem;
  padding-right: .75rem;
  &:first-child {
    margin-top: 0;
    padding-top: .75rem;
  }
  &:last-child {
    padding-bottom: 0.25rem;
  }
}

// Activity padding
.activity-item:not(.activityinline) {
  padding: .75rem;
}


// Completion info margins
.activity-info {
  .automatic-completion-conditions span:only-child {
    margin-top: 3px !important;
  }
}

// Completion badge placement
.automatic-completion-conditions .badge {
  font-size: 80%;
  padding: 0.35rem;
  margin-top: 0.2rem;
}

// Add activity button styling
//.activity div.divider button i.icon {
//  height: 16px !important;
//  width: 16px !important;
//  font-size: 16px !important;
//  position: static;
//}
.activity-add .pluscontainer,
.activity div.divider button {
  border-radius: $border-radius !important;
  padding: 8px 8px 8px 8px !important;
}

.activity-add .pluscontainer,
.block-add .pluscontainer {
  border: none;
}

.activity div.divider button {
  left: calc(49%);
  i.icon {
    color: $button-color;
    height: 16px !important;
    width: 16px !important;
    font-size: 16px !important;
    position: static;
    margin: 0 !important;
  }
  &:hover{
    background-color: #fde4d2;
    i.icon {
      color: $button-hover-color;
    }
  }
}

.activity-add {
  i {
    color: white;
  }
  .activity-add-text {
    color: $link-color;
  }
  .pluscontainer{
    background-color: $button-color;
  }
  &:hover,
  &:focus {
    .pluscontainer {
      background-color: $button-hover-color;
    }
    .activity-add-text {
      color: $link-hover-color;
    }
  }
}
// end of activity button styling

.modicon_bigbluebuttonbn .icon {
  width: 16px;
  height: 16px;
  background-color: #0f4d9d;
  border-radius: $border-radius;
}

.courseindex {
  .courseindex-link,
  .courseindex-chevron {
    &:hover {
      color: black !important;
    }
  }
  .courseindex-name {
    color: black !important;
  }
  .courseindex-item {
    &.pageitem {
      background-color: #d4441c !important;
      color: white !important;
      a,
      .courseindex-name,
      .fa-circle-thin,
      .fa-times {
        color: white !important;
      }
    }
    &:hover,
    &:focus {
      color: $course-index-text-color;
      .courseindex-link,
      .courseindex-chevron,
      .fa-circle-thin {
        color: $course-index-text-color;
      }
      &.dimmed {
        .courseindex-link,
        .courseindex-chevron,
        .fa-circle-thin {
          color: $dimmed-text-color;
        }
      }
    }
  }
}

[data-region="favourite-icon"] {
  .fa-star {
    color: $button-color;
  }
}

.drawer-toggles .drawer-toggler .btn {
  background-color: white;
}

.path-grade-report-grader,
.path-question,
#page-mod-attendance-password {
  #page {
    background-color: white;
  }
  .drawer-toggler .icon-no-margin {
    background-color: $text-highlight-color !important;
  }
}

.maincalendar {
  .calendar-controls .arrow_link.bg-primary.text-white {
    background-color: $button-color !important;
  }
  .calendarmonth {
    td.today {
      .day-number-circle {
        background-color: $button-color;
      }
    }
    td.bg-primary.text-white {
      background-color: $header-gray !important;
      .aalink.day {
        color: white;
      }
      a:not([class]) {
        background-color: $header-gray;
        color: white;
        &:focus {
          box-shadow: 0 -0.2rem transparent, 0 0.2rem transparent;
        }
      }
    }
  }
  .calendar_event {
    &_category, &_course, &_site, &_group, &_user {
      &:hover a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

.yui3-skin-sam {
  .yui3-calendar-day {
    &-selected {
      background-color: $text-highlight-color;
    }
    &:hover {
      background-color: $button-color;
    }
  }
}

.yui3-skin-sam .yui3-calendarnav-nextmonth:hover,
[dir="rtl"] .yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
.yui3-skin-sam [dir="rtl"] .yui3-calendarnav-prevmonth:hover {
  border-left-color: black;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
[dir="rtl"] .yui3-skin-sam .yui3-calendarnav-nextmonth:hover,
.yui3-skin-sam [dir="rtl"] .yui3-calendarnav-nextmonth:hover {
  border-right-color: black;
}

.calendar_event {
  &_course,
  &_user {
    background-color: $text-highlight-color;
    color: black;
    .commands a {
      color: $text-color;
      &:hover {
        color: black;
      }
    }
  }
}

.progress-bar {
  background-color: $button-color;
}

.footer-popover {
  .btn-icon.bg-secondary {
    background-color: $header-gray !important;
    i {
      color: white;
    }
    &:hover,
    &:focus {
      background-color: black !important;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $roarange;
    }
  }
}

.bengal-footer {
  display: flex;
  .bengal-footer-powered-by {
    width: auto;
    div {
      white-space: nowrap;
    }
  }
  .bengal-footer-logo {
    display: flex;
    justify-content: right;
    width: 100%;
    .icon {
      width: 40px;
      height: 39px;
      margin: 0;
    }
  }
}

.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role="treeitem"]:not([aria-expanded="true"]).focus,
[role="treeitem"]:not([aria-expanded="true"]):focus,
.btn-outline-secondary:focus,
.btn-outline-secondary.focus,
.btn-primary:focus,
.btn-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem $roarange;
}

.aalink.focus,
.aalink:focus,
#page-footer a:not([class]).focus,
#page-footer a:not([class]):focus,
.arrow_link.focus,
.arrow_link:focus,
a:not([class]).focus,
a:not([class]):focus,
.activityinstance > a.focus,
.activityinstance > a:focus {
  box-shadow: 0 -0.2rem white, 0 0.2rem $roarange;
}

.sr-only-focusable:focus {
  color: $text-color;
  &:hover {
    color: black
  }
}

.fa-external-link,
.fa-externallink {
  margin-right: 0;
  margin-left: 0.35rem;
}

// legacy styling
.atto_image_button_text-top.img-responsive,
.atto_image_button_middle.img-responsive,
.atto_image_button_text-bottom.img-responsive {
  display: inline-block;
  max-width: calc(100% - 1em);
}

// Single section on one page scroll bug
#region-main {
  overflow-x: unset;
}

// Main menu block styling
.main-menu-content {
  .editing_move_activity {
    position: static !important;
  }
  .fa-arrows:before {
    content: ""
  }
  .activityiconcontainer {
    display: none;
  }
  .text-uppercase.small {
    display: none;
  }
  .modtype_forum,
  .modtype_url {
    .activityiconcontainer {
      max-width: 50px;
      max-height: 50px;
      display: block;
    }
    .text-uppercase.small {
      display: block;
    }
  }
  .activity-item.activity {
    border: none;
  }
  .activity-item:not(.activityinline) {
    padding: 0.25rem;
  }
  .activity-item .afterlink {
    margin: 0.8rem 0 0.8rem 0.5rem;
  }
}
.block_site_main_menu.block .content>.unlist>li>.column {
  margin-bottom: 0;
}
#page-site-index {
  @include media-breakpoint-up(lg) {
    .drawer.drawer-right {
      width: 450px;
      max-width: 450px;
    }
    #page.drawers.show-drawer-right {
      margin-right: 450px;
      .btn-footer-popover{
        right: calc(450px + 2rem);
      }
    }
  }
}
// End of main menu block styling

// Fatal error styling
div[data-rel="fatalerror"]{
  .errormessage {
    margin-bottom: 0;
  }
  .errorcode {
    display: none;
  }
}

// Course index title (link to course page)
.drawer.drawer-left {
  .drawerheader {
    align-items: flex-start;
    border-bottom: 1px solid #dee2e6;
    height: auto;
    min-height: 60px;
    overflow: hidden;
    .drawertoggle{
      margin-right: 6px;
      margin-left: 5px;
      margin-top: 14px;
      padding: 4px 5px;
    }
    .course-index-title {
      border-radius: $border-radius * 2;
      color: $text-color;
      display: flex;
      height: 100%;
      margin: .75rem .5rem .5rem 0;
      padding: .25rem;
      width: 100%;
      span {
        font-family: Roboto Slab, serif;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
      }
      &:hover {
        color: black;
        text-decoration: none;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem $roarange;
      }
    }
  }
}

.atto_loom_button .icon {
  margin-top: 1px !important;
  margin-bottom: 2px !important;
}

// Assignment grading navigation
.path-mod-assign [data-region="grading-navigation-panel"] {
  [data-region="user-info"] {
    .img-rounded {
      height: 45px;
      border-radius: 50%;
      margin-bottom: -6px;
    }
    em.nowrap {
      font-family: $body-font-stack;
      &:first-of-type {
        font-size: 15px;
        small {
          font-size: 15px;
        }
      }
    }
  }
}

// Whole forum grading navigation
.path-mod-forum .unified-grader{
  .grader-grading_navigation {
    height: 60px;
    color: white;
    .btn-link:hover {
      text-decoration: underline !important;
    }
    .btn.btn-icon {
      .icon {
        filter: brightness(0) invert(1);
      }
      &:focus,
      &:hover {
        .icon{
          filter: unset;
        }
      }
    }
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle),
    .btn-group>.btn-group:not(:last-child)>.btn {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
}

// Assignment grading styling
.path-mod-assign [data-region="review-panel"].collapsed+[data-region="grade-panel"] [data-region="grade"],
.path-mod-assign [data-region="grade-panel"].fullwidth [data-region="grade"] {
  max-width: none;
}
.path-mod-assign [data-region="grade-panel"],
#page-mod-assign-view .submissionsummarytable,
#page-mod-assign-view .feedbacktable {
  .gradingform_rubric .criterion {
    .description {
      max-width: 700px;
    }
    .levels {
      table {
        min-height: 132px;
      }
      .level {
        min-width: 90px;
      }
    }
    .remark textarea {
      min-width: 250px;
    }
  }
  div.submissionstatustable,
  h3,
  #fitem_id_workflowstate,
  #fitem_id_grade,
  #fitem_id_currentgrade,
  :not(.popout)#fitem_id_assignfeedbackcomments_editor,
  #id_attemptsettings > legend,
  #id_attemptsettings .fcontainer {
    width: 800px;
  }
  #fitem_id_grade {
    padding-bottom: 12px;
  }
  #fitem_id_advancedgrading {
    width: fit-content;
  }
  .fitem.popout {
    overflow: auto;
  }
  div.submissionstatustable,
  #fitem_id_advancedgrading,
  h3,
  #fitem_id_workflowstate,
  #fitem_id_grade,
  #fitem_id_currentgrade,
  #fitem_id_assignfeedbackcomments_editor,
  #id_attemptsettings > legend,
  #id_attemptsettings .fcontainer {
    margin-left: auto;
    margin-right: auto;
  }
  [data-region="attempt-chooser"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}
.path-mod-assign [data-region="review-panel"]:not(.collapsed) + [data-region="grade-panel"] {
  div.submissionstatustable,
  h3,
  #fitem_id_workflowstate,
  #fitem_id_currentgrade,
  #fitem_id_assignfeedbackcomments_editor,
  #id_attemptsettings > legend,
  #id_attemptsettings .fcontainer {
    width: unset;
  }
}
// End of assignment grading styling

// Fix for external tool iframe being too small on some screen sizes
#contentframe {
  min-height: 600px;
}

// h5p wrapper fix
.h5p-iframe-wrapper {
  max-width: 1092px !important;
  margin: auto !important;
}
body.h5p-embed #page{
  background-color:white;
}

// Adjust QR code sizing
[alt="QR Code"] {
  max-width:450px;
}
@media (max-width: 576px) {
  [alt="QR Code"]{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:95%;
  }
}

// Section name edit button
.sectionname .inplaceeditable .quickeditlink {
  display: inline-flex;
  .quickediticon {
    display: inline-flex;
    margin-top: auto;
    margin-bottom: auto;
    .icon {
      margin-left: 8px;
    }
  }
  &:focus {
    color: $text-color;
  }
}

// "Jump to" section drop down
.jumpmenu {
  max-width: 600px;
}

// Default completion icons
#page-course-editdefaultcompletion .modules img {
  max-width: 24px;
}

// NCLEX folder styling
.nclex-folder {
  display:flex;
  flex-direction: column;
  .list-group-item {
    border: 1px solid $dimmed-text-color !important;
    border-bottom: 1px solid $text-color !important;
    border-radius: 6px 6px 0 0 !important;
    color: $dimmed-text-color;
    font-weight: bold;
    margin-right: 3px;
    padding: 0.25rem 1rem;
    width: fit-content;
    &:last-child { margin-right: 0px }
    &:hover {
      background-color: white;
      color: $text-color;
    }
    &:active { background-color: inherit; }
    &.active {
      background-color: white !important;
      border-color: $text-color !important;
      border-bottom: 1px solid white !important;
      color: $text-color;
      margin-left: 0 !important;
    }
  }
  .list-group-item-action:focus {
    background-color: white;
    box-shadow: none !important;
    color: $text-color;
  }
  .tab-content {
    background-color: white;
    border: 1px solid $text-color;
    border-radius: 0 6px 0 0;
    padding: 1rem 1rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    max-width: 750px;
  }
}

// Hide content in quiz feedback
.feedback {
  .nclex-folder {
    display: none;
  }
}

// Makes scrollbars bigger in Chrome
#page.drawers, .drawercontent {
  &::-webkit-scrollbar {
    width:17px;
  }
}

// Makes scrollbars bigger in Firefox
#page.drawers,
.drawercontent {
  scrollbar-width: auto;
  scrollbar-color: grey white;
}

// bf alt format icon styling
.local-bfaltformat-course-page-icon,
.local-bfaltformat-course-page-icon + .afterlink {
  padding-top: 4px;
}

// Fix for scrollbars showing up on MC questions
.que.multichoice .ablock {
  overflow: visible;
}

// Course Eval print styles
@media print {
  [id^="page-mod-feedback-analysis"] {
    .activity-header,
    [id^="form_autocomplete_input"],
    .form-autocomplete-downarrow,
    .btn,
    a,
    #jump-to-activity,
    #page-footer {
      display:none;
    }
    .badge {
      color: #1d2125;
    }
    #page.drawers .main-inner {
      margin: 0 !important;
      padding: 0 !important;
    }
    #page-header{
      display:block !important;
      .breadcrumb,.activityiconcontainer {
        display: none;
      }
    }
    // Fix for extra pages printed in chrome
    .chartjs-size-monitor-expand > div {
      height: auto !important;
    }
  }
}

// Fix for feedback analysis charts being too big
.path-mod-feedback .chart-image {
  max-width: 600px;
}

// Make certain icons in the gradebook darker
.gradeitemheader {
  .icon[alt="Simple weighted mean of grades"],
  .icon[alt="Weighted mean of grades"],
  .icon[alt="Natural"] {
    filter: brightness(0) invert(0);
  }
}

// Fix for quiz timer blocking quiz
#quiz-timer-wrapper {
  pointer-events: none;
}

// Styling for down arrow icon
i.icon.fa.fa-long-arrow-down.fa-fw {
  color: $button-color;
}

// Fix spacing between lesson buttons
#page-mod-lesson-view .branchbuttoncontainer .singlebutton button[type="submit"] {
  margin: 3px 0;
}

// Bulk edit button styling
#page .text-primary {
  color: $link-color !important;
  &:hover {
    color: $link-hover-color !important;
  }
}

// Secondary button styling
.block_myoverview .whitebutton .btn-secondary,
.presetsactions .dropdown-toggle,
.presetsactions .dropdown-toggle:hover,
.presetsactions .show>.btn-secondary.dropdown-toggle,
.entriesactions .dropdown-toggle,
.entriesactions .dropdown-toggle:hover,
.entriesactions .show>.btn-secondary.dropdown-toggle,
#page-mod-data-view .whitebutton .btn-secondary,
#page-mod-data-preset .whitebutton .btn-secondary,
#page-mod-data-field- .whitebutton .btn-secondary,
#page-mod-data-templates .whitebutton .btn-secondary {
  color: $text-color;
  background-color: #ced4da;
  border-color: #ced4da;
  &:hover {
    background-color: #b1bbc4;
    border-color: #aab4bf;
  }
}

// Primary button styling
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  background-color: $button-color;
  border-color: $button-color;
}

// activity card resizing to match upcoming boost update
.section {
  .activityiconcontainer {
    height: 30px;
    width: 30px;
    margin-right: .5rem !important;
  }
  .activityname {
    margin-top: 2px;
  }
  .activitytitle .text-uppercase.small {
    display:none;
  }
  img.activityicon {
    height: 16px !important;
    width: 16px !important;
  }
}
.activity-item .activity-actions .action-menu .btn.btn-icon {
  height: 31px;
  width: 31px;
}
.path-mod .page-context-header .page-header-headings{
  display: flex;
  .h2 {
    margin: auto 0 auto;
  }
  .text-uppercase.small {
    display: none
  }
}

// upcoming styling for grade report activity cards
.path-grade-report-summary {
  .activityiconcontainer {
    height: 30px;
    width: 30px;
  }
  .page-header-headings {
    padding-top: 3px;
    .text-uppercase.small {
      display: none;
    }
  }
  img.activityicon {
    height: 16px !important;
    width: 16px !important;
  }
}

// Fix for large icons on competencies page
[data-region="coursecompetencyactivities"] img {
  max-width: 24px;
  max-height: 24px;
}

/* tinymce image button left/right alignment */
.tiny_image_button_left {
  float: left;
  margin: 0 0.5em 0 0;
  max-width: calc(100% - 1em);
}
.tiny_image_button_right {
  float: right;
  margin: 0 0 0 0.5em;
  max-width: calc(100% - 1em);
}

// Activity icon colors
$activity-color-content: #399BE2;
$activity-color-administration: #11A676;
$activity-color-collaboration: #11A676;
$activity-color-communication: #11A676;
$activity-color-assessment: #F7634D;
$activity-color-external-tool: #a378ff;
$activity-color-legacy: $dimmed-text-color;

// Define activity categories
.activityiconcontainer {
  &.assessment { background-color: $activity-color-assessment; }
  &.administration { background-color: $activity-color-administration; }
  &.communication { background-color: $activity-color-communication; }
  &.collaboration { background-color: $activity-color-collaboration; }
  &.content { background-color: $activity-color-content; }
}

// Define icons that deviate from their category
.modtype_data .activityiconcontainer,
.modicon_data {
  background-color: $activity-color-assessment !important;
}

.modtype_forum .activityiconcontainer,
.modicon_forum {
  background-color: $activity-color-assessment !important;
}

.modtype_glossary .activityiconcontainer,
.modicon_glossary {
  background-color: $activity-color-assessment !important;
}

.modtype_h5pactivity .activityiconcontainer,
.modicon_h5pactivity {
  background-color: $activity-color-assessment !important;
}

.modtype_lesson .activityiconcontainer,
.modicon_lesson {
  background-color: $activity-color-assessment !important;
}

.modtype_lti .activityiconcontainer,
div[class*="modicon_lti"] {
  background-color: $activity-color-external-tool !important;
}

.modtype_scorm .activityiconcontainer,
.modicon_scorm {
  background-color: $activity-color-communication !important;
}

.modtype_wiki .activityiconcontainer,
.modicon_wiki {
  background-color: $activity-color-communication !important;
}

.modtype_zoom .activityiconcontainer,
.modicon_zoom {
  background-color: $activity-color-legacy !important;
}

.modtype_hvp .activityiconcontainer,
.modicon_hvp {
  background-color: $activity-color-legacy !important;
}

// Activity chooser custom legend
// implemented in templates/core_course/activitychooser.mustache
.activity-chooser-legend {
  background-color: white;
  border-radius: $border-radius * 2;
  display: flex;
  justify-content: center;
  margin: 4px 71px;
  padding: 12px 34px;
  width: 100%;
  .legend-item {
    align-content: center;
    display: flex;
    margin-right: .75rem;
    .legend-icon {
      border-radius: $border-radius;
      display: inline-block;
      height: 25px;
      margin: auto;
      min-width: 25px;
      width: 25px;
      &.assessed { background-color: $activity-color-assessment; }
      &.not-assessed { background-color: $activity-color-communication; }
      &.external-tool { background-color: $activity-color-external-tool; }
      &.resource { background-color: $activity-color-content; }
    }
    &.last-legend-item {
      margin-right: 0;
    }
    .legend-equals {
      margin: auto 5px;
    }
    .legend-description {
      font-size: 80%;
      margin: auto;
    }
  }
}

// Fix for activity chooser on smaller screens
@include media-breakpoint-down(md){
  .modal-dialog {
    max-width: 654px;
  }
  .activity-chooser-legend {
    margin-left: auto;
    margin-right: auto;
  }
}
@include media-breakpoint-down(xs) {
  .activity-chooser-legend {
    width: 241px;
    display: block;
    .legend-icon {
      margin: 3px 0;
      padding: 0;
    }
    .legend-description {
      margin-left: 0 !important;
    }
  }
}
