$body-font-stack: Roboto, sans-serif;
$header-font-stack: Roboto Slab, serif;

$growling-gray-light: #e6e7e8;
$text-highlight-color: #e0e0e0;
$dimmed-text-color: #6a737b;
$course-index-text-color: #495057;
$header-gray: #1d1c1d;
$text-color: #1d2125;
$roarange: #f47920;
$link-color: #b82b00;
$link-hover-color: #701a00;
$button-color: #d4441c;
$button-hover-color: #b53917;

$border-radius: 4px;

.navbar, #searchform-navbar {
  background-image: url([[pix:theme|bengal-header]]);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  background-color: $header-gray !important;
}

.navbar-nav {
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: $text-highlight-color;
    color: black;
  }
  .nav-link,
  .dropdown-toggle::after,
  .usertext,
  label {
    color: white !important;
  }
  .dropdown-menu {
    .dropdown-toggle::after {
      color: black !important;
    }
  }
  .login {
    a {
      color: white !important;
      &:hover {
        color: white !important;
        text-decoration: none;
      }
      &:focus {
        background-color: transparent;
        box-shadow: 0 0 0 0.2rem $roarange;
      }
    }
  }
}

.navbar [data-flexitour="step-background"]{
  background-color: black !important;
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    display:flex !important;
    margin-left: 1.5rem !important;
    margin-right: 0 !important;
  }
}

@include media-breakpoint-down(xs) {
  .navbar-brand {
    display:none !important;
  }
}

.navbar-nav .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $roarange !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $button-color;
}

.navbar-toggler {
  background-color: white;
}

.moremenu {
  .dropdown-item[aria-current="true"]:focus-within,
  .dropdown-item[aria-current="true"]:hover,
  .dropdown-item.active:focus-within,
  .dropdown-item.active:hover {
    background-color: $text-highlight-color;
    border-color: $text-highlight-color;
    color: black;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active:hover,
  .nav-link.active:focus {
    background-color: transparent;
  }
}

.list-group-item.active {
  background-color: $text-highlight-color;
  border-color: $text-highlight-color;
  color: $text-color;
}

.message-app {
  .btn-link:hover {
    color: $text-color;
  }
  .fa-star {
    color: $button-color;
  }
  .list-group .list-group-item:hover {
    background-color: $text-highlight-color;
    color: $text-color;
  }
}

body {
  font-family: $body-font-stack;
}

body #page,
#page-my-index {
  background-color: $growling-gray-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-stack;
  font-weight: 700;
}

a, .btn-link {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

:focus-visible {
  outline: $roarange auto 1px;
}

.aalink.focus,
.aalink:focus,
#page-footer a:not([class]).focus,
#page-footer a:not([class]):focus,
.arrow_link.focus,
.arrow_link:focus,
a:not([class]).focus,
a:not([class]):focus,
.activityinstance > a.focus,
.activityinstance > a:focus {
  color: $link-hover-color;
}

.page-item {
  .page-link {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
  &.active .page-link {
    background-color: $button-color;
    border-color: transparent;
    &:hover {
      color: white;
    }
  }
}

.btn {
  transition: none;
}

.btn-primary {
  background-color: $button-color;
  border-color: transparent;
  &.disabled,
  &:disabled {
    background-color: $button-color;
    border-color: transparent;
  }
  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      background-color: $button-hover-color;
    }
  }
}

.show > .btn-primary.dropdown-toggle {
  background-color: $button-hover-color;
}

.btn-outline-primary {
  border-color: $button-color;
  color: $button-color;
  &:hover {
    background-color: $button-color;
    border-color: $button-color;
    color: white;
  }
  &.disabled,
  &:disabled {
    background-color: transparent;
    border-color: $dimmed-text-color;
    color: $dimmed-text-color;
  }
}

.badge-primary {
  background-color: $button-color;
}

.sectionbadges .badge-pill {
  line-height: 1.5;
}

.content-item-container {
  &:hover,
  &.unread:hover {
    color: black;
    background-color: $text-highlight-color;
    a.view-more {
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
    .content-item-footer .timestamp {
      color: $text-color;
    }
  }
}

.dropdown-item {
  &.active,
  &:active,
  &:hover,
  &:focus,
  &:focus-within {
    color: black;
    background-color: $text-highlight-color;
  }
}

.moremenu .dropdownmoremenu > .dropdown-menu .dropdown-menu .dropdown-item {
  &:hover,
  &:focus {
    color: black;
    background-color: $text-highlight-color;
  }
}

.form-autocomplete-suggestions li {
  &:hover,
  &:focus,
  &[aria-selected="true"] {
    background-color: $text-highlight-color;
    color: $text-color;
  }
  &[aria-selected="true"] {
    box-shadow: 0 0 0 0.2rem $text-highlight-color;
  }
}

.nav-pills {
  .nav-link.active,
  .show > .nav-link {
    background-color: $text-highlight-color;
    color: black;
  }
}

.block-add {
  color: $link-color;
  i {
    color: $button-color;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    i {
      color: $button-hover-color;
    }
  }
}

// Activity description spacing
.description .course-description-item {
  background-color: white;
  padding-left: .75rem;
  padding-right: .75rem;
  &:first-child {
    margin-top: 0;
    padding-top: .75rem;
  }
  &:last-child {
    padding-bottom: 0.25rem;
  }
}

// Activity padding
.activity-item:not(.activityinline) {
  padding: .75rem;
}

// Move activity icons to center
.activity-item .activity-actions {
  padding-top: 7px;
}

// Edit icon
.activity-item {
  .inplaceeditable .quickeditlink,
  .afterlink {
    margin: .2rem 0 1.4rem .5rem
  }
}

// Completion info margins
.activity-info {
  .automatic-completion-conditions span:only-child {
    margin-top: 13px !important;
  }
  button:only-child {
    margin-top: 10px !important;
  }
}

// Completion badge placement
.automatic-completion-conditions .badge {
  font-size: 80%;
  padding: 0.35rem;
  margin-top: 0.2rem;
}

.activity-add {
  padding: 20px !important;
  .pluscontainer {
    background-color: $button-color;
    border-radius: $border-radius;
  }
  i {
    color: white;
  }
  .activity-add-text {
    color: $link-color;
  }
  &:hover,
  &:focus {
    .pluscontainer {
      background-color: $button-hover-color;
    }
    .activity-add-text {
      color: $link-hover-color;
    }
  }
}

.modicon_bigbluebuttonbn .icon {
  width: 50px;
  height: 50px;
  background-color: #0f4d9d;
  border-radius: $border-radius;
}


.courseindex {
  .courseindex-link,
  .courseindex-chevron {
    &:hover {
      color: black !important;
    }
  }
  .courseindex-name{
    color: black !important;
  }
  .courseindex-item {
    &.pageitem {
      background-color: #d4441c !important;
      color: white !important;
      a {
        color: white !important;
      }
      .fa-circle-thin {
        color: white !important;
      }
      .completioninfo.completion_complete{
        color: white;
      }
    }
    &:hover,
    &:focus {
      color: $course-index-text-color;
      .courseindex-link,
      .courseindex-chevron,
      .fa-circle-thin {
        color: $course-index-text-color;
      }
      &.dimmed {
        .courseindex-link,
        .courseindex-chevron,
        .fa-circle-thin {
          color: $dimmed-text-color;
        }
      }
    }
  }
}

.course-info-container .fa-star {
  color: $button-color;
}

.drawer-toggles .drawer-toggler .btn {
  background-color: white;
}

.path-grade-report-grader #page {
    background-color: white;
}

.maincalendar {
  .calendar-controls .arrow_link.bg-primary.text-white {
    background-color: $button-color !important;
  }
  .calendarmonth {
    td.today {
      .day-number-circle {
        background-color: $button-color;
      }
    }
    td.bg-primary.text-white {
      background-color: $header-gray !important;
      .aalink.day {
        color: white;
      }
      a:not([class]) {
        background-color: $header-gray;
        color: white;
        &:focus {
          box-shadow: 0 -0.2rem transparent, 0 0.2rem transparent;
        }
      }
    }
  }
  .calendar_event {
    &_category, &_course, &_site, &_group, &_user {
      &:hover a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
}

.yui3-skin-sam {
  .yui3-calendar-day {
    &-selected {
      background-color: $text-highlight-color;
    }
    &:hover {
      background-color: $button-color;
    }
  }
}

.yui3-skin-sam .yui3-calendarnav-nextmonth:hover,
[dir="rtl"] .yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
.yui3-skin-sam [dir="rtl"] .yui3-calendarnav-prevmonth:hover {
  border-left-color: black;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth:hover,
[dir="rtl"] .yui3-skin-sam .yui3-calendarnav-nextmonth:hover,
.yui3-skin-sam [dir="rtl"] .yui3-calendarnav-nextmonth:hover {
  border-right-color: black;
}

.calendar_event {
  &_course, &_user {
    background-color: $text-highlight-color;
    color: black;
    .commands a {
      color: $text-color;
      &:hover {
        color: black;
      }
    }
  }
}

.progress-bar {
  background-color: $button-color;
}

.footer-popover {
  .btn-icon.bg-secondary {
    background-color: $header-gray !important;
    i {
      color: white;
    }
    &:hover,
    &:focus {
      background-color: black !important;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem $roarange;
    }
  }
}

.bengal-footer {
  display: flex;
  .bengal-footer-powered-by {
    width: auto;
    div {
      white-space: nowrap;
    }
  }
  .bengal-footer-logo {
    display: flex;
    justify-content: right;
    width: 100%;
    .icon {
      width: 40px;
      height: 39px;
      margin: 0;
    }
  }
}

.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role="treeitem"]:not([aria-expanded="true"]).focus,
[role="treeitem"]:not([aria-expanded="true"]):focus,
.btn-outline-secondary:focus,
.btn-outline-secondary.focus,
.btn-primary:focus,
.btn-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem $roarange;
}

.aalink.focus,
.aalink:focus,
#page-footer a:not([class]).focus,
#page-footer a:not([class]):focus,
.arrow_link.focus,
.arrow_link:focus,
a:not([class]).focus,
a:not([class]):focus,
.activityinstance > a.focus,
.activityinstance > a:focus {
  box-shadow: 0 -0.2rem white, 0 0.2rem $roarange;
}

.sr-only-focusable:focus {
  color: $text-color;
  &:hover {
    color: black
  }
}

.fa-external-link,
.fa-externallink {
  margin-right: 0px;
  margin-left: 0.35rem;
}

// legacy styling
.atto_image_button_text-top.img-responsive,
.atto_image_button_middle.img-responsive,
.atto_image_button_text-bottom.img-responsive {
  display: inline-block;
  max-width: calc(100% - 1em);
}

//single section on one page scroll bug
#region-main {
  overflow-x: unset;
}

// Main menu block styling
.main-menu-content {
  .fa-arrows:before {
    content: "ï½"
  }
  .activityiconcontainer {
    display:none;
  }
  .text-uppercase.small {
    display:none;
  }
  .modtype_forum, .modtype_url {
    .activityiconcontainer {
      display:block;
    }
    .text-uppercase.small {
      display:block;
    }
  }
  .activity-item.activity{
    border: none;
  }
  .activity-item:not(.activityinline) {
    padding: 0.25rem;
  }
  .activity-item .inplaceeditable{
    align-items:center;
    margin-left: 1.5rem;
  }
  .activity-item .inplaceeditable .quickeditlink, .activity-item .afterlink {
    margin: 0.8rem 0 0.8rem 0.5rem;
  }
}
.block_site_main_menu.block .content>.unlist>li>.column{
  margin-bottom: 0;
}
#page-site-index {
  .drawer.drawer-right {
    width: 450px;
    max-width: 450px;
  }
  @include media-breakpoint-up(lg) {
    #page.drawers.show-drawer-right {
      margin-right: 450px;
      .btn-footer-popover{
        right: calc(450px + 2rem);
      }
    }
  }
}
// End of main menu block styling

.activity-chooser-legend {
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem 1rem;
  width: 100%;
  .legend-item {
    align-content: center;
    display: flex;
    margin-right: .75rem;
    .legend-icon {
      border-radius: 4px;
      display: inline-block;
      height: 25px;
      width: 25px;
      &.assessed {
        background-color: #F7634D;
      }
      &.not-assessed {
        background-color: #11A676;
      }
      &.external-tool {
        background-color: #a378ff;
      }
      &.resource {
        background-color: #399BE2;
      }
    }
    &.last-legend-item {
      margin-right: 0;
    }
    .legend-equals {
      margin: auto 5px;
    }
    .legend-description {
      font-size: 80%;
      margin: auto;
    }
  }
}

//Activity colors

$activity-color-content: #399BE2;
$activity-color-administration: #11A676;
$activity-color-collaboration: #11A676;
$activity-color-communication: #11A676;
$activity-color-assessment: #F7634D;
$activity-color-external: #a378ff;

.activityiconcontainer {
  &.assessment {
    background-color: $activity-color-assessment;
  }
  &.administration {
    background-color: $activity-color-administration;
  }
  &.communication {
    background-color: $activity-color-communication;
  }
  &.collaboration {
    background-color: $activity-color-collaboration;
  }
  &.content {
    background-color: $activity-color-content;
  }
}

.modtype_data .activityiconcontainer, .modicon_data {
  background-color: $activity-color-assessment !important;
}

.modtype_forum .activityiconcontainer, .modicon_forum {
  background-color: $activity-color-assessment !important;
}

.modtype_glossary .activityiconcontainer, .modicon_glossary {
  background-color: $activity-color-assessment !important;
}

.modtype_h5pactivity .activityiconcontainer, .modicon_h5pactivity {
  background-color: $activity-color-assessment !important;
}

.modtype_lesson .activityiconcontainer, .modicon_lesson {
  background-color: $activity-color-assessment !important;
}

.modtype_lti .activityiconcontainer, div[class*="modicon_lti"] {
  background-color: $activity-color-external !important;
}

.modtype_scorm .activityiconcontainer, .modicon_scorm {
  background-color: $activity-color-communication !important;
}

.modtype_wiki .activityiconcontainer, .modicon_wiki {
  background-color: $activity-color-communication !important;
}
