/* tinymce image button left/right alignment */
.tiny_image_button_left {
    float: left;
    margin: 0 0.5em 0 0;
    max-width: calc(100% - 1em);
}
.tiny_image_button_right {
    float: right;
    margin: 0 0 0 0.5em;
    max-width: calc(100% - 1em);
}

body.mce-content-body a {
    color: #b82b00;
}
body.mce-content-body a:hover {
    color: #701a00;
}
